nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
}
.nav-item {
  display: flex;
  margin-right: 89px;
  font-size: large;
  font-weight: 900;
}
.active-item {
  color: #fe5e35;
}
img[src='./images/circles.svg'] {
  margin-left: 10px;
  width: 105px;
  height: 35px;
}
h3 {
  display: flex;
  width: 320px;
  height: 60px;
  font-size: 36px;
  font-weight: 100;
}
h1 {
  font-size: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro-section {
  display: flex;
}
img[src="./images/discount.svg"] {
 margin-top: 340px;
 position:relative;
 width: 235px;
 height: 155px;
 
}
.right-section > .headphone-div {
  
}
img[src="./images/headphones.jpg"] {
  margin-top: -460px;
  width: 480px;
  height: 460px;
  margin-left: 100px;
}

.right-section > .headphone-div > .discount-content {
  margin-top: -134px;
  margin-left: 77px;
  font-size: 17px;
  position: relative;
  color: white;
}
.right-section > .headphone-div > .discount-content > h1 {
  font-size: 45px;
  margin-top: -20px;

}
img[src="./images/plus.svg"] {
  background-color: #fe5e35;
  border-radius: 50%;
  margin-right: 10px;
  width: 21px;
  padding: 4px;
}
.sub-headlines {
  margin-left: 80px;
  
}
body {
  margin-top: 27px;
  margin-left:65px;
}
h5 {
  font-size: 25px;
  font-weight: 100;
}
p {
  margin-top: 60px;
  width: 630px;
  color: grey;
}
.action-btn {
  background-color: #fe5e35;
  color: white;
  font-size: large;
  border:none;
  margin-top: 26px;
  width: 188px;
  height: 55px;
  margin-right: 25px;
  border-radius: 2rem;
}
.dots {
  display: flex;
  margin-left: 270px;
  margin-top: 21px;
  
}
.dot.yellow-dot {
  background: rgb(216, 216, 79);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 21px;
}
.dot.tomato-dot {
  background: tomato;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 21px;
}
.dot.black-dot {
  background: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 21px;
}
button:nth-child(3) {
  margin-top: 50px;
  margin-left: 242px;
}