nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
}
.nav-item {
  display: flex;
  margin-right: 65px;
  font-size: large;
}
.active-item {
  color: #fe5e35;
}
img[src='./images/circles.svg'] {
  margin-left: 10px;
  width: 105px;
  height: 35px;
}
h3 {
  display: flex;
  width: 320px;
  height: 60px;
  font-size: 36px;
  font-weight: 100;
}
h1 {
  font-size: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro-section {
  display: flex;
}
img[src="./images/discount.svg"] {
 margin-top: 340px;
 position:relative;
 width: 235px;
height: 155px;
 
}
.right-section > .headphone-div {
  
}
img[src="./images/headphones.jpg"] {
  margin-top: -460px;
  width: 480px;
  height: 460px;
  margin-left: 100px;
}

.right-section > .headphone-div > .discount-content {
  margin-top: -170px;
  margin-left: 60px;
  font-size: 17px;
  position: relative;
  
}
.right-section > .headphone-div > .discount-content > h1 {
  font-size: 55px;
  margin-top: -20px;
}
img[src="./images/plus.svg"] {
  background-color: #fe5e35;
  border-radius: 80px;
  margin-right: 10px;
  width: 28px;
}
.sub-headlines {
  margin-left: 80px;
  
}
body {
  margin-top: 27px;
  margin-left:65px;
}
h5 {
  font-size: 25px;
  font-weight: 100;
}
p {
  margin-top: 60px;
  width: 630px;
  color: grey;
}
.action-btn {
  background-color: #fe5e35;
  color: white;
  font-size: large;
  border:none;
  margin-top: 26px;
  width: 188px;
  height: 60px;
  margin-right: 25px;
  border-radius: 2rem;
}
